* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

/* navbar */
header.navbar-container {
  width: 100%;
  /* max-width: 1200px; */
  margin-inline: auto;
  padding-block: 0.7rem;
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
  background-color: #5FBDFF;
  border-bottom: 1px solid #fff;
}

header.navbar-container .logo img {
  width: 200px;
}

header.navbar-container .navbar ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 1.4rem 1rem;
}

header.navbar-container .navbar li {
  list-style-type: none;
}

header.navbar-container .navbar li a {
  padding: 0.5rem 1rem;
  font-size: 1.15rem;
  text-decoration: none;
  font-weight: 500;
  color: white;
  border-radius: 70px;
  transition: all 0.5s ease-in-out;
  text-transform: capitalize;
}

header.navbar-container .navbar li a:hover {
  background-color: white;
  color: #7B66FF;
  font-weight: 700;
}

/* content */
main {
  width: 100%;
  /* max-width: 1200px; */
  padding: 2rem 1rem;
  margin-inline: auto;
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  background-color: #7B66FF;
}

main .content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

main .content .pembukaan {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 50px;
  margin: 20px;
  /* box-shadow: 5px 5px 20px -2px rgba(0, 0, 0, 0.53);
  background-color: white; */
}

main .content .pembukaan .description {
  flex: 1 1;
}
main .content .pembukaan .description .title {
  font-size: 3.3rem;
  margin-block: 1rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
}

main .content .pembukaan .description p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #5fbdff;
  font-weight: 500;
}

main .content .pembukaan .description p span {
  font-weight: 700;
}

main .content .pembukaan .description-image {
  flex: 1;
  display: flex;
}

main .content .pembukaan .description-image img {
  width: 380px;
  min-width: 280px;
  margin: auto;
  filter: drop-shadow(16px 11px 6px#1c1c1c);
}

main .content .manfaat {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 50px;
  align-items: center;
  /* background-color: white; */
  border-radius: 40px;
  /* box-shadow: 5px 5px 20px -2px rgba(0, 0, 0, 0.53); */
  margin: 20px;
}

main .content .manfaat .image-manfaat {
  flex: 1;
  display: flex;
}

main .content .manfaat .image-manfaat img {
  width: 458px;
  min-width: 394px;
  margin: auto;
}

main .content .content-manfaat {
  flex: 1 1;
}
main .content .content-manfaat .sub-title {
  font-size: 2.8rem;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  margin-block: 1rem;
}

main .content .content-manfaat p, ol {
  font-size: 1.25rem;
  line-height: 1.5rem; 
  color: #5fbdff;
  font-weight: 500;
}

main .content .menu-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  margin: 20px;
}

main .content .menu-container .title-menu h2 {
  margin-block: 1rem;
  font-size: 2.8rem;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

main .content .menu-container .title-menu p {
  font-size: 1.3rem;
  font-weight: 500;
  color: #5fbdff;
}

main .content .menu-container .menu {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

main .content .menu-container .menu .card-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  background-color: #5fbdff;
  border-radius: 20px;
  height: 400px;
}

.photo-menu1 {
  transform: scale(0.7);
  width: 150px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

main .content .menu-container .menu .card-menu img {
  /* width: 150px;
  min-width: 100px;
  height: 400px; */
}

main .content .menu-container .menu .card-menu span {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 500;
}